:root{
    --primary: #111B54;
    --light: #ffffff;
    --grey:#efefef;
}

body{
    overflow: hidden;
    font-family: "Muli", "sans-serif";
    font-weight: 300;
    color: var(--primary);
}

a{
    text-decoration: none;
}

.bg-primary{
    background-color: var(--primary) !important;
}
.bg-light{
    background-color: var(--light) !important;
}

.menu{
    float: right;
    margin-right: 20px;
    cursor: pointer;
}


#sidebar-container {
    min-height: 100vh;
}

#sidebar-container .logo{
    padding: .875rem 1.25rem;
}

#sidebar-container .menu{
    width: 18rem;
}

.logo{
	margin: 0px;
	margin-left: 2px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-bottom: 15px;
}

.logo span{
	color:lime ;
}

.col-div-6{
	width: 50%;
	float: left;
}

.navar-1{
    float: left;  
    

}

.avatar{
    max-width: 60px;
}

.perfil{
    width: auto;
    position: absolute;
    left: 65%;
    top: 0; 
}

#div1{
    position:absolute;
    left: 22%;    
    bottom: 60px;
}

.title1{
    color:darkblue;
    font-weight: 700
    
}

.newdiv{
    padding: 4px;
}







